.footer-container {
	border-top: 1px solid $color__background-hr;
	@include font-size(14/16);
}

.footer-area-wrap {
	@include font-size(16/16);
	line-height: 1.9;
}

.footer-container_wrap {
	&:not(.container) {
		margin-left: 20px;
		margin-right: 20px;
		@include media-breakpoint-up(md) {
			margin-left: $container-gutter-width;
			margin-right: $container-gutter-width;
		}
	}
}

.footer-container {
	.site-footer.style-2 & {
		padding-top: 40px;
		padding-bottom: 40px;
		@include media-breakpoint-up(lg) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}

.site-info {
	.footer-logo,
	.social-list,
	.footer-menu,
	.footer-copyright {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.footer-copyright {
		@include font-size(14/16);
	}
}

.site-footer {
	.subscribe-block,
	.social-list {
		padding: 15px 0;
	}
	.subscribe-block {
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: 270px;
		}
		@include media-breakpoint-up(md) {
			width: 370px;
		}
		&__input-group {
			position: relative;
		}
		&__input[type="email"] {
			width: 100%;
			padding-right: 40px;
		}
		&__btn_wr {
			position: absolute;
			top: 0;
			right: 0;
		}
		&__submit {
			padding: 10px 10px 12px;
			margin: 0;
			width: 44px;
			height: 43px;
			text-align: center;
			border-radius: 0;
			font-size: 21px;
			&,
			i {
				display: block;
			}
			&.processing {
				i {
					display: none;
				}
				.page-preloader {
					display: block
				}
			}
			&.subscribe-success {
				color: $color__valid;
				.fa:before {
					content: '\f00c';
				}
			}
			&.subscribe-error {
				color: $color__not-valid;
				.fa:before {
					content: '\f06a';
				}
			}
			.page-preloader {
				display: none;
				margin: -10px 0 0 -10px;
				width: 21px;
				height: 21px;
			}
		}
	}
}

.footer-social-wrap {
	padding: 37px 0;
	@include font-size(16/16);
	border-bottom: 1px solid $color__background-hr;
	.footer-container_wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(sm) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}
}

.footer-area {
	&--fullwidth {
		margin-left: 0;
		margin-right: 0;
		.widget {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@import "footer/layout-style-1";
@import "footer/layout-style-2";