.site-logo {
	margin: 0;
	line-height: 1;
	&--image {
		@include media-breakpoint-up(lg) {
			margin-top: 6px;
		}
	}
	&__link {
		text-decoration: none;
		line-height: 1;
	}
}

.site-description {
	@include font-size(.75);
}