.swiper-pagination .swiper-pagination-bullet {
	border-color: $regular_accent_color_2;
}
.swiper-pagination .swiper-pagination-bullet:hover,
.swiper-pagination .swiper-pagination-bullet-active {
	background-color: $regular_accent_color_2;
}
.invert .swiper-pagination .swiper-pagination-bullet {
	border-color: $invert_accent_color_1;
}
.invert .swiper-pagination .swiper-pagination-bullet:hover,
.invert .swiper-pagination .swiper-pagination-bullet-active {
	background-color: $invert_accent_color_1;
}
div.swiper-container .swiper-button-next,
div.swiper-container .swiper-button-prev{
	color: $regular_accent_color_2;
	background: $regular_accent_color_1;
}
.swiper-container .swiper-button-next:hover,
.swiper-container .swiper-button-prev:hover{
	background: $regular_link_hover_color;
}
