$loader-width: 30px;
$border-width: 3px;
.page-preloader-cover {
	position: fixed;
	z-index: 1200;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: $color__bg-preloader-cover;
}

.page-preloader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: $loader-width;
	height: $loader-width;
	margin: ($loader-width+$border-width)/-2 0 0 ($loader-width+$border-width)/-2;
	border-radius: 50%;
	border: $border-width solid transparent;
	animation: tm_spin 1s linear infinite;
	z-index: 11;
}

@keyframes tm_spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* pulse loader */

$w: 200px;
$h: 100px;
$strokeWidth: 3px;

.page-main-preloader {
	position: relative;
	width: $w;
	left: 50%;
	top: 50%;
	margin: $h/-1.5 0 0 $w/-2;
	&__logo {
		display: block;
		margin: 0 auto;
	}
}
.pulse {
	height: $h;
	width: $w;
	overflow: hidden;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; // heartbeat gfx

	svg{
		animation: 2s preloader-pulse infinite linear;
	}

	&:before {
		content: '';
		background: #edeff1;
		position: absolute;
		z-index: -1;
		left: 2px;
		right: 2px;
		bottom: 0;
		top: 16px; // the SVG isn't exacly centered..
		margin: auto;
		height: $strokeWidth;
	}
}

$stroke-length_1: 500px;

@keyframes preloader-pulse {
	0% {
		stroke-dasharray: 0px $stroke-length_1;
	}
	100% {
		stroke-dashoffset: 0px;
		stroke-dasharray: $stroke-length_1 0px;
	}
}