input.wpcf7-form-control.wpcf7-submit:focus {
	box-shadow: none;
}

.header-btn.btn {
	padding: 10px 30px;
}

.header-btn.btn,
.elementor-widget-container .elementor-button-wrapper .elementor-button {
	border-radius: 24px;
}