/*!
Skin Name: Healtix
*/

@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";
@import "../../../../assets/sass/grid/variables";
@import "../../../../assets/sass/grid/breakpoints";

#toTop {
	@include media-breakpoint-up(md) {
		right: 40px;
		bottom: 106px;
	}
}

textarea {
	height: 105px;
	min-height: 105px;
}

button,
a.button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.btn,
.booked-calendar-shortcode-wrap .booked-calendar-wrap .booked-calendar tbody tr.entryBlock td .button,
body .booked-modal input.button-primary[type="submit"],
.elementor-widget-container .elementor-button{
	transition: all .5s;
}

.swiper{
	&-button-next,
	&-button-prev {
		width: 46px;
		height: 46px;
		@include media-breakpoint-down(sm) {
			width: 28px;
			height: 28px;
		}
		border-radius: 50%;
		border: 2px solid;
		text-align: center;
		margin: -10px 0 0 0;
		opacity: 1;
		transition: all .15s;
		&:hover {
			box-shadow: 0 8px 59px 0 rgba(6,30,52,0.1);
		}
	}

	&-button-next,
	&-container.swiper-container-rtl .swiper-button-prev,
	&-button-prev,
	&-container.swiper-container-rtl .swiper-button-next {
		background: none !important;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			display: block;
			@include font-awesome-icon;
			@include font-size(25/16);
			@include media-breakpoint-down(sm) {
				@include font-size(16/16);
			}
		}
	}
	&-button-next,
	&-container.swiper-container-rtl .swiper-button-prev {
		right: 20px;
		&::before {
			right: 47%;
			transform: translate(50%, -50%);
			content: '\f105';
		}
		.post-gallery & {
			right: 30px;
		}
	}

	&-button-prev,
	&-container.swiper-container-rtl .swiper-button-next {
		left: 20px;
		&::before {
			left: 47%;
			transform: translate(-50%, -50%);
			content: '\f104';
		}
	}
}

.team-item {
	padding-bottom: 30px;
}

/* Grid-boxes-hover template style */

.template-grid-boxes-hover .team-listing_wrap {
	position: relative;
	overflow: hidden;
}
.template-grid-boxes-hover {
	.team-listing {
		&_content {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 30px;
			background: linear-gradient(to top, rgba(0,0,0,.6) 20%, transparent 50%);
			opacity: 0;
			transform: translateY(30px);
			transition: opacity 300ms linear, transform 400ms;
			&:hover {
				opacity: 1;
				transform: translateY(0);
			}
		}
		&_photo {
			padding:0;
			img {
				border-radius: 0;
				width: 100%;
				display: block;
				height: auto;
			}
		}
		&_name {
			margin: 0 0 10px;
			transition: background 300ms linear;
			a {
				box-shadow: none;
			}
		}
		.team-socials_link {
			box-shadow: none;
		}
	}
}
.cherry-team.team-wrap.template-grid-boxes-hover {
	.team-listing {
		.team-listing {
			&_wrap {
				box-shadow: 0px 8px 59px 0px rgba(6,30,52,0.1);
			}
			&_photo {
				padding: 0;
			}
			&_person_info {
				padding: 0 30px;
				text-align: center;
			}
			&_desc {
				@include font-size(16/16);
				margin-top: 24px;
				text-align: left;
				&:last-child {
					margin-bottom: 24px;
				}
			}
		}
		&_image {
			position: relative;
			overflow: hidden;
		}
		&_content {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
		}
		&_socials {
			margin-top: 20px;
			&:last-child {
				margin-bottom: 20px;
			}
		}
		.team-item {
			.btn {
				margin-top: 30px;
				&:last-child {
					margin-bottom: 30px;
				}
			}
			.team-listing_socials {
				& + .btn {
					margin-top: 20px;
				}
			}
		}
	}
	.team-socials {
		&_label {
			color: #fff;
			background-color: #000;
			&:before {
				border-color: #000 transparent transparent transparent;
			}
		}
		&_item {
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.tm-testi {
	&--default-center {
		.tm-testi__item {
			&-name {
				margin-right: 0;
			}
		}
	}

	&--boxed-center {
		.tm-testi__item {
			margin-top: 100px;
			&:first-child {
				margin-top: 0;
			}
			blockquote {
				display: block;
				text-align: center;
			}
			cite {
				display: block;
				margin: 0;
			}
			&-body {
				padding: 82px 40px 20px;
				margin: 0 15px;
				background-color: #fff;
				border: 1px solid;
				box-shadow: 0px 8px 15px 0px rgba(6,30,52,0.1);
				@include media-breakpoint-down(sm) {
					padding: 82px 12px 15px;
				}
				p {
					@include font-size(26/16);
					line-height: 1.5;
					margin-top: 28px;
					margin-bottom: 20px;
					@include media-breakpoint-down(sm) {
						margin-top: 10px;
						margin-bottom: 10px;
						@include font-size(19/16);
						line-height: 1.3;
					}
				}
			}
			.avatar {
				display: block;
				margin: 0 auto;
				margin-bottom: -66px;
				position: relative;
				z-index: 1;
				border-radius: 50%;
				border: 2px solid #fff;
				box-shadow: 0px 8px 22px 2px rgba(6,30,52,0.1);
			}
			&-position {
				text-transform: none;
				@include font-size(14/16);
				letter-spacing: 0;
				font-weight: 300;
			}
			&-name {
				margin-right: 0;
			}
		}
		.swiper-button-next.tm-testi-slider__next,
		.swiper-button-prev.tm-testi-slider__prev {
			top: calc(50% + 24px);
		}
	}
}

.wpcf7 {
	input,
	select,
	textarea {
		padding: 10px 16px 10px 16px;
		border:1px solid;
	}

	input[type="submit"]{
		border:none;
	}

	&-form {
		p {
			margin-bottom: 9px;
			i {
				top: 50%;
				transform: translateY(-50%);
				right: 26px;
			}
		}
	}
}

.jet-carousel {
	.jet-slick-dots {
		li span {
			&:hover {
				background: $color__background-hr;
			}
		}
	}
}

.jet-mobile-menu-active {
	.jet-menu-container.jet-mobile-menu {
		.jet-mobile-menu-toggle-button {
			box-shadow: 0 4px 15px 0 rgba(6,30,52,0.1);
		}
	}
}

.footer-container {
	border-top: none;
}

.header-nav-wrapper {
	position: absolute;
	@include media-breakpoint-up(sm) {
		position: relative;
	}
}

.site-footer.default {
	.footer-container {
		padding-top: 13px;
		padding-bottom: 13px;
	}
}

.site-logo {
	&--image {
		@include media-breakpoint-up(xl) {
			margin-top: 12px;
			.isStuck.header-container & {
				margin-top: 0;
			}
		}
	}

}

.footer-area {
	padding: 56px 0 10px;
	@include media-breakpoint-up(lg) {
		padding: 114px 0 11px;
	}
}


.site-header-cart {
	.cart-contents {
		i {
			transition: all .3s ease;
		}
	}
}

.woocommerce {
	#respond input#submit,
	a.button,
	button.button,
	input.button,
	#respond input#submit.alt,
	a.button.alt,
	button.button.alt,
	input.button.alt,
	input.button:disabled,
	input.button:disabled[disabled],
	a.button.loading {
		white-space: nowrap;
	}
}

.tm-wc-ajax-products-wrapper {
	.woocommerce-pagination {
		margin-left: 0.9375rem;
	}

	.tm-wc-ajax-load-more-button {
		&+.woocommerce-pagination {
			margin-top: 78px;
		}
	}
}

.woocommerce button.tm-wc-ajax-load-more-button {
	position: absolute;
	z-index: 10;
	bottom: 80px;
	margin-left: 0.9375rem;
}

.tm_products_carousel_widget,
.widget_product_categories_image,
.related,
.up-sells,
.cross-sells {
	position: relative;
	.swiper-button-next,
	.swiper-button-prev {
		&:after{
			display: none;
		}
	}
	.swiper-button-next {
		&:after{
			display: none;
		}
	}
	.swiper-button-prev {
		&:after{
			display: none;
		}
	}
}

.tm-wc-ajax-products-wrapper .products.row {
	position: relative;
	max-width: calc(100% + 1.875rem);
}

.site-footer.style-2 .site-info > * + *{
	margin-top: 20px;
}

.site-footer.style-2 .site-info .footer-menu{
	margin-top: 20px;
}