$color__background-body:   #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr:     #c5cbcf;
$color__background-input:  #f7f7f7;
$color__background-pre:    #eee;
$color__background-ins:    #fff9c0;

$color__submenu-background: #fbfbfb;

$color__bg-preloader-cover: #ffffff;

$color__white: #ffffff;
$color__dark: #000000;

$color__gray: #ebebeb;
$color__lighter-gray: #f8f8f8;
$color__lighter-gray-2: #f7f7f7;

$color__text-screen: #21759b;
$color__text-input:  #333;

$color__border-button: #E0E0E2;
$color__border-input:  #c5cbcf;
$color__border-abbr:   #666;
$color__border-table:  $color__background-hr;
$color__border-pre:    darken( $color__background-pre, 10% );

$color__not-valid: #de001b;
$color__valid:     #01c100;

$color__cherry-popups: #a8c3e1;
$color__cherry-input-placeholder: #424242;