/*circle-progress*/
.elementor-circle-progress .circle-val {
	font-size: 40px;
	font-weight: 700;
	color: $regular_accent_color_1;
}

/*pricing-table*/
.pricing-table__subtitle {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: $body_font_family;
	letter-spacing: $body_letter_spacing{px};
}
.pricing-table__icon,
.pricing-table__subtitle,
.pricing-table__price-prefix,
.pricing-table__price-val {
	color: $regular_accent_color_1;
}
.pricing-table__price-suffix {
	color: $regular_link_color;
}

.pricing-table.featured-table {
	background-color: $regular_accent_color_1;
}
.featured-table .pricing-table__icon,
.featured-table .pricing-table__title,
.featured-table .pricing-table__subtitle,
.featured-table .pricing-table__price-prefix,
.featured-table .pricing-table__price-suffix,
.featured-table .pricing-table__price-val,
.featured-table .pricing-feature {
	color: $invert_accent_color_1;
}
.featured-table .pricing-table-button {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}
.featured-table .pricing-table-button:hover,
.featured-table .pricing-table-button:focus {
	color: $invert_accent_color_1;
	background-color: @alpha($invert_accent_color_1, 50%);
}
.featured-table .pricing-table__features {
	border-color: @darken($regular_accent_color_1, 5%);
}

/* jet-posts */
.jet-posts .entry-title a {
	color: $regular_link_color;
}
.jet-posts .entry-title a:hover {
	color: $regular_link_hover_color;
}
.jet-posts .post-meta {
	color: @darken($regular_accent_color_2, 15%);
}
.jet-posts .post-meta a {
	color: $regular_accent_color_1;
}
.jet-posts .post-meta a:hover {
	color: $regular_link_hover_color;
}

/* jet-countdown-timer */
.jet-countdown-timer {
	color: $regular_accent_color_1;
}

.jet-carousel .jet-arrow {
	color: $regular_link_color;
}
.jet-carousel .jet-arrow:hover {
	color: $regular_link_hover_color;
}

/* jet-slider */
.jet-slider .sp-arrow {
	color: $invert_accent_color_1;
}
.jet-slider .sp-arrow:hover {
	color: $regular_accent_color_1;
}